body {
  margin: 0;
  padding: 0;
}

/*#map {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}*/

.centered {
  height: 50%;
  justify-content: center;
  position: fixed;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px auto;
  left: 0;
  right: 0;
}

#map {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background-color: transparent;
  width: 50em;
  height: 50em;
  border-radius: 100%;
}
